.newcollections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
}
.newcollections h1 {
  text-transform: uppercase;
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}
.newcollections hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.collections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  gap: 30px;
}
/* responsiveness */
/* Large tablets & small laptops (1024px and below */
@media screen and (max-width: 1200px) {
  .collections {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Tablets & large mobiles (768px and below) */
@media screen and (min-width: 768px) {
  .collections {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*Small phones (480px and below)  */
/* @media screen and (min-width: 480px) {
  .collections {
    grid-template-columns: 1fr;
  }
}  */
